.param-caption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-bottom: 7px;
    border-bottom: 1px solid #eee;   
    cursor: pointer;
}
.param.active .param-list {
    max-height: 500px;
    transition: max-height .3s ease-in;
}
.param-item{
    position: relative;
    padding-left: 20px;
    display: block;
    margin-bottom: 5px;
    cursor: pointer;
}
.param-list{
    max-height: 0;
    overflow: hidden;
    padding: 0 0 0 15px;
    transition: max-height .3s ease-out; 
}
.param-icon{
    display: inline-block;
    margin-right: 5px;
    font-size: 8px;
    transform: rotate(0deg);
    transition: transform .3s ease;
}
.param.active .param-icon {
    transform: rotate(180deg);
}
.param .checkbox,
.param .radio{
    height: 0;
    width: 0;
    visibility: hidden;     
}
.param .radio-sign,
.param .checkbox-sign{
    position: absolute;
    top: 5px;
    left: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
    border-radius:2px; 
}
.param .radio:checked + .radio-sign,
.param .checkbox:checked + .checkbox-sign{    
    background: #000;
}