.header {
    margin-bottom: 30px; }

.header-row {
    border-bottom: 1px solid #000; }

.header-row--first {
    padding: 9px 0 23px; }

.header-row--second {
    padding: 10px 0 9px; }

.header-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between; }

.nav {
    margin-left: -90px; }

.logo {
    width: 185px;
    height: 48px; }

.mainmenu {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    padding: 0; }

.mainmenu li{
    display: inline-block;
    margin-right: 14px;}
.mainmenu li a{
    display: inline-block;
    padding: 1px 16px;
    border-radius: 2px;
    line-height: 24px;
    text-decoration: none;
    color: #333;
    transition: .2s ease color, .2s ease background-color; }
.mainmenu li a.active, .mainmenu li a:hover {
    background-color: #ffab00; }
.mainmenu li a.active,
.mainmenu li a:hover {
    color: #fff; }
.mainmenu li:last-child {
    margin-right: 0; }

.socialmenu {
    list-style: none;
    margin: 3px 0 0;
    padding: 0; }
.socialmenu li {
    display: inline-block;
    width: 22px;
    height: 22px;
    margin: 0 -2px 0 0; }
.socialmenu li:last-child {
    margin: 0; }
.socialmenu a {
    color: #333;
    transition: .2s ease color; }
.socialmenu a:hover {
    color: #ffab00; }

.auth {
    display: flex;
    align-items: center; }

.auth-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: middle; }
.auth-menu li {
    display: inline-block;
    vertical-align: middle; }
.auth-menu li:first-child {
    margin-right: 5px; }
.auth-menu a {
    text-decoration: none;
    color: #333; }
.auth-menu a:hover {
    color: #ffab00; }

.auth-menu-signout {
    cursor: pointer;
}
.useractions {
    margin: 5px 0 0;
    padding: 0;
    list-style: none;
    vertical-align: middle; }
.useractions li {
    height: 34px;
    display: inline-block;
    vertical-align: middle; }
.useractions li.userwishlist {
    margin: 2px 8px 0 0;
    width: 46px;
    background: url("../../../../assets/img/icon_wishlist.png") 74% 50% no-repeat; }
.useractions li.usercart {
    width: 95px;
    background: url("../../../../assets/img/icon_cart.png") 21% 50% no-repeat; }
.useractions a {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #333; }
.useractions .amount {
    display: inline-block;
    width: 15px;
    height: 15px;
    padding: 0 5px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    line-height: 15px; }
.useractions .userlikes-amount {
    background-color: #f44639; }
.useractions .usercart-amount {
    background-color: #ffac03; }
.useractions .usercart-totalprice {
    line-height: 15px; }

.search input[type="text"] {
    padding: 5px; }
