.column{
    display: inline-block;
    width: 200px;
    text-align: center;
}
.shoppingcart-list{
    padding: 0;
    margin: 40px 0 40px;
}
.shoppingcart-item{
    display: flex;
    justify-content: space-between;
}
li{
    height: 35px;
    border-bottom: 1px solid lightgrey;
    list-style: none;
    line-height: 35px;
}
li:first-child{    
    border-top: 1px solid lightgrey;
    background: lightgray;    
}
.btn-counter{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.shoppingcart-results{
    font-weight: bold;
}