<section class="section articles center">
    <h2 class="section-title">Mix & Mac</h2>
    <p class="section-description">Lorem ipsum dolor sit amet tellus</p>
    <div class="articles-list">
        <div class="article">
        <div class="article-photo">
            <img src="assets/img/articles/image_1.jpg" alt="">
            <ul class="article-category">						
            <li><a href="#">Top</a></li>
            <li><a href="#">Bottom</a></li>
            <li><a href="#">Dress</a></li>
            <li><a href="#">Footwear</a></li>
            <li><a href="#">Accessories</a></li>							
            </ul>
        </div>
        <h3 class="article-name"><a href="#">Classic & Vintage</a></h3>
        <p class="article-description"><a href="#">Lorem ipsum dolor sit amet, tellus enim, varius nec magna lobortis neque, aenean tempor, arcu magnam nisl nulla a, sed nec. Ac elit consequat et integer.</a></p>					
        </div>
    </div>		
</section>