<div class="header">
  <div class="header-row header-row--first">
    <div class="header-content center">
      <div class="auth">
        <ul class="auth-menu">
          <li><i class="fas fa-user-circle fa-2x"></i></li>
          <li><a href="#">Login</a></li>
          <li> | </li>
          <li><a href="#">SignUp</a></li>						
        </ul>
      </div>
      <div class="logo"></div>
      <ul class="useractions">
        <li class="userwishlist">
          <a href="#">
            <span class="userlikes-amount amount">11</span>
          </a>
        </li>
        <li class="usercart">
          <a href="#">
            <span class="usercart-amount amount">11</span>
            <span class="usercart-totalprice">$1200</span>
          </a>							
        </li>
      </ul>
    </div>
  </div>
  <div class="header-row header-row--second">
    <div class="header-content center">
      <form action="#" class="search">
        <i class="fas fa-search"></i>
        <input type="text"
            name="query"
            value="">
      </form>
      <nav class="nav">
        <ul class="mainmenu">
          <li><a href="#">Men</a></li>
          <li class="active"><a href="#">Women</a></li>
          <li><a href="#">Bridal</a></li>
          <li><a href="#">Baby&Kids</a></li>
        </ul>
      </nav>
      <ul class="socialmenu">
        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>					
  </div>		
</div>