<section class="section contact center"> 
  <div class="contact-main">
    <h2 class="section-title">Contact us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam nisi quo explicabo consectetur magnam odio reprehenderit debitis veritatis quas. Voluptatum voluptas ipsam earum velit, perspiciatis hic fuga repudiandae labore!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam nisi quo explicabo consectetur magnam odio reprehenderit debitis veritatis quas. Voluptatum voluptas ipsam earum velit, perspiciatis hic fuga repudiandae labore!</p>  
    <form>
      <div class="contact-form">
        <div class="contact-row double multiple">
          <div class="contact-item">
            <div>
                <label for="">Name: <span>*</span></label>
            </div>          
            <input type="text" name="name">
          </div>
          <div class="contact-item">
            <div>
                <label for="">Email: <span>*</span></label>
            </div>          
            <input type="text" name="email">
          </div>
        </div>
        <div class="contact-row">
          <div class="contact-item">
            <div>
                <label for="">Message: <span>*</span></label>
            </div>
            <textarea name="message" id="" cols="30" rows="10"></textarea>
          </div>        
        </div>
        <button class="btn btn--send">SEND</button>
      </div>
    </form>
  </div>  
  <div class="contact-aside">
    <p class="caption">Email</p>
    <p>test@test.test</p>
    <p class="caption">Telephone</p>
    <p>999 999 99 99</p>
    <p class="caption">Skype</p>
    <p>Lorem ipsum</p>
    <p class="caption">Address</p>
    <p>Lorem ipsum dolor, sit amet consectetur </p>
    <p>Lorem ipsum dolor, sit amet consectetur </p>
  </div>
</section>