<div class="advice-wrapper">
    <section class="section advice center">
            <div class="advice-img">
                <img src="assets/img/advices/image.jpg" alt="brand" class="brand--img">
            </div>
            <div class="advice-content">
                <h2 class="section-title">Your Daily<br>Accessories Checklist</h2>
                <p class="section-description">Lorem ipsum dolor sit amet, tellus enim, varius nec magna lobortis neque, aenean tempor, arcu magnam nisl nulla a, sed nec. Ac elit consequat et integer. Lorem ipsum dolor sit amet, tellus enim, varius nec magna lobortis neque, aenean tempor</p>
                <a href="#" class="link">Complete Your  Pack</a>
            </div>
    </section>
</div>	