figure{
    margin: 0;   
}
.product-content,
.product-info{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/*------------------------------------*/
.product-info{
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}
.product-info .row{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}
.product .caption{
    margin: 20px 0 31px;
    text-align: center;
}
.section-caption{
    font-family: 'Merriweather', serif;
}
.section-caption.underline{
    padding-bottom: 3px;
    border-bottom: 1px solid #f2f2f2;
}
.product-name{    
    font-size: 26px;
    margin: 0;
}
.product-categories{
    margin: 0;
}
.product-description{
    margin-bottom: 10px;
}
.product-description p{
    margin: 9px 0;
    font-size: 14px;
    line-height: 22px;
}
.column{
    width: 48.7%;
}
.column--right{
    text-align: right;
}
.product-price{
    display: inline-block;
    margin-right: 8px;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
    vertical-align: middle;
}
.available-quantity{
    font-size: 14px;
}
.additional-info{
    color: #bdbdbd;
}
.discount-percent{
    display: inline-block;
    margin-right: 5px;
    padding: 0 5px;
    background-color: #f44336;
    font-size: 12px;
    line-height: 16px;
    color: white;
    border-radius: 3px;
}
.discount-sum{
    font-size: 14px;
    text-decoration: line-through;
}
/*------------------------------------*/
.params{
    margin-bottom: 20px;
}
.params-table tr{
    height: 33px;
}
.params-table tr:nth-child(2){
    height: 61px;
}
.params-table tr:nth-child(3){
    height: 32px;
}
.params-table tr:nth-child(4){
    height: 67px;
}
.params-table td:nth-child(2){
    width: 40%;
    text-align: right;
}
.param-size-value span{
    display: inline-block;
    margin-left: 1px;
    border: 1px solid #adadad;
    height: 28px;
    width: 28px;
    line-height: 28px;
    text-align: center
}
.param-color span{
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}
.param-color .beige{
    background-color: #f3dfc8;    
}
.param-color .red{
    background-color:#ed5353;
}
.param-color .orange{
    background-color: #ffab00;
}
.products-quantity{
    box-sizing: border-box;
    display: inline-block;
    height: 36px;
    width: 120px;
    padding: 0 10px;
    font-size: 13px;
    border: 1px solid #d6d6d6;
    border-radius: 2px;
}
.param-delivery span{
    display: inline-block;
    font-size: 14px;
}
.param-delivery .free{
    padding: 0 4px;
    margin-left: 8px;
    background-color: #66b116;
    color: white;
    line-height: 17px;
    font-size: 9px;
    text-transform: uppercase;
}
/*------------------------------------*/
.product-control{
    margin-bottom: 18px;
}
.btn{
    display: inline-block;
    height: 45px;
    width: 188px;
    margin-right: 15px;
    border-radius: 2px;
    cursor: pointer;    
}
.btn-buy{
    background: #ffac03;
    color: #fff;
    border: 1px solid transparent;
}
.btn-cart{
    position: absolute;
    padding: 0 38px 0 0;
    background: #fff;
    color: #000;
    border: 2px solid #adadad;
}
.btn-cart:after{
    content: '';
    display: inline-block;
    position: absolute;
    height: 27px;
    width: 19px;
    z-index: 2;
    right: 19px;
    top: 10px;  
    background: url("../../../../../assets/img/icon_cart.png")  0 0 no-repeat;
    background-size: contain;
}
/*------------------------------------*/
.product-share{
    margin-bottom: 35px;
}
.product-share h4{
    margin: 0 0 4px;
    font-weight: normal;
}
.product-share li{
    margin-right: 10px;
    font-size: 22px;
}
/*------------------------------------*/
.product-detail h3{
    margin: 0 0 11px;
}
.product-detail p{
    margin: 0 0 24px;
    line-height: 24px;
}
/*------------------------------------*/
.image{
    position: relative;
}
.image img{
    width: 100%;
    height: auto;
}
/*------------------------------------*/