<section *ngIf="product" class="section contact center">
    <div class="product center">
        <div class="section-caption caption">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-categories">Women/Dress</p>
        </div>
        <div class="product-content">
            <div class="column">
                <div *ngIf="productImages">
                    <ngx-gallery [options]="galleryOptions"
                                 [images]="productImages"></ngx-gallery>
                </div>
            </div>
            <div class="column">
                <div class="product-info">
                    <div class="column">
                        <div class="row">
                            <span class="product-price">${{ product.price }}</span>
                            <span class="discount-percent">30% <span>OFF</span></span>
                            <span class="available-quantity additional-info">5 pieces left</span>
                        </div>
                        <div class="row">
                            <span class="discount-sum additional-info">$1000</span>
                        </div>
                    </div>
                    <div class="column column--right">
                        <div class="">
                            <span class="product-review additional-info">7 review</span>
                        </div>
                    </div>
                </div>
                <div class="product-description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque accusamus soluta dignissimos rerum nulla, ratione optio quo at harum!</p>
                </div>
                <div class="params">
                    <table class="params-table">
                        <tr *ngIf="product.sizes">
                            <td>Size</td>
                            <td class="param-size">
                                <span *ngFor="let size of product.sizes"
                                        [class.active]="size === selectedSize"
                                        (click)="onSelectSize(size)" >{{ size }}</span>
                            </td>
                        </tr>
                        <tr *ngIf="product.colors">
                            <td>Color</td>
                            <td>
                                <span *ngFor="let color of product.colors"
                                        class="param-color"
                                        [ngClass]="color"
                                        [class.active]="color === selectedColor"
                                        (click)="onSelectColor(color)">
                                            <span></span>
                                    </span>
                            </td>
                        </tr>
                        <tr>
                            <td>Quantity</td>
                            <td>
                                <input [(ngModel)]="quantity" type="number" value="5" min="0" max="100" class="products-quantity">
                            </td>
                        </tr>
                        <tr>
                            <td>Shipping</td>
                            <td class="param-delivery">
                                <span>US & Canada</span>
                                <span class="free">Free Sheepping</span>
                                <span>$10 Worldwide</span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="product-control">
                    <button  type="button"
                            (click)="buyNow(product)"
                            class="btn btn-buy">BUY NOW</button>
                    <button type="button"
                            (click)="addToCart(product)"
                            class="btn btn-cart">ADD TO MY CART</button>
                </div>
                <div class="product-share">
                    <h4 class="additional-info">Share on:</h4>
                    <div>
                        <ul class="socialmenu">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="product-detail">
                    <h3 class="section-caption underline">Product Detail</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio accusamus culpa facere ipsam sed illo debitis mollitia sit vel temporibus, qui dolorem quasi, maxime nam possimus dicta odit, quos cupiditate.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio accusamus culpa facere ipsam sed illo debitis mollitia sit vel temporibus, qui dolorem quasi, maxime nam possimus dicta odit, quos cupiditate.</p>
                </div>
            </div>
        </div>
    </div>
</section>
