.shoppingcart-table{
    border-collapse: collapse;
}
.shoppingcart-table tr{
    height: 35px;   
}
.shoppingcart-table th{        
    background: lightgray;    
}
.shoppingcart-table td{
    width: 200px;
    text-align: center;
    line-height: 35px;
    border-bottom: 1px solid lightgrey; 
}
.shoppingcart-content{
    margin-bottom: 40px;
}
.shoppingcart-table{
    padding: 0;
    margin: 40px 0;
}
.btn-counter{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}
.shoppingcart-results{
    font-weight: bold;
}
.btn-catalog {
    display: inline-block;
    width: 100px;
    height: 30px;
    background: #ffac03;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: .2s ease background;
    border: none;
    text-decoration: none;
}
.btn-catalog:hover {
    background: #f44336; 
}