.shoppingcart-content{
    margin-bottom: 40px;
}
.shoppingcart-footer{
    display: flex;
    justify-content: space-between;
}
.btn-catalog,
.btn-checkout {
    display: inline-block;
    width: auto;
    height: 30px;
    padding: 0 10px;
    background: #ffac03;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transition: .2s ease background;
    border: none;
    text-decoration: none;
}
.btn-catalog:hover,
.btn-checkout:hover {
    background: #f44336; 
}