.shop.catalog{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between
}
.catalog-controls{
    width: 20%;
}
.catalog-controls .section-name{
    font: 16px 'Merriweather', serif;
}
.catalog-results{
    width: 76%;
}
.catalog-info{
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;    
}
/*-------------------------------------*/
.category-description{
    display: flex;
    flex-wrap: wrap;
}
.category-column{
    width: 50%
}
.category{
    min-height: 230px;
    background: #1b1b1b;
    margin: -30px auto 30px;
    font-family: 'Merriweather', serif;
    color: #fff;
}
.category-img{
    text-align: right;
}
.category-img img{
    border-radius: 3px;
}
.breadcrumbs{
    padding-top: 20px;
    margin-bottom: 10px;
    color: #bdbdbd;   
}
.breadcrumbs a,
.breadcrumbs span{  
    color: #bdbdbd;
    font-size: 'Lato', sans-serif; 
    text-decoration: none;
}
.breadcrumbs a:hover{
    text-decoration: underline;
}
.category-name{
    margin-bottom: 10px;
    font-size: 70px;
    color: #ffab00;    
}
.category-name:first-letter{
    text-transform: capitalize;
}
.category-info{
    font-size: 16px;
}
/*-------------------------------------*/
.form-search{
    position: relative;
}
.btn-catalog-search{    
    position: absolute;    
    right: 5px;
    top: 9px;
    background: none;
    border: none;
}
.form-search-input{
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 8px;
}
/*-------------------------------------*/
.catalog-info .column-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.select-sort{
    width: 130px;
    height: 30px;    
    margin-left: 20px;
}
.catalog-info{
    display: flex;
    justify-content: space-between;
}
.catalog-title{
    font: 18px 'Merriweather', serif;
}