<div *ngIf="banners" class="banners center">
    <div class="banners-column">
        <div class="banner banner--big">
            <a [attr.href]="banners[0].url">
                <img [attr.src]="banners[0].img" alt="banner">
            </a>
        </div>
    </div>
    <div class="banners-column">
        <div class="banner banner--middle">
            <a [attr.href]="banners[1].url">
                <img [attr.src]="banners[1].img" alt="banner">
            </a>
        </div>
        <div class="banner banner--small">
            <a [attr.href]="banners[2].url">
                <img  [attr.src]="banners[2].img" alt="banner">
            </a>
        </div>
        <div class="banner banner--small">
            <a [attr.href]="banners[3].url">
                <img [attr.src]="banners[3].img" alt="banner">
            </a>
        </div>
    </div>
</div>
