.banners {
    height: 555px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    font-size: 0;
    border-bottom: 1px solid #000; }

.banners-column {
    width: 49.92%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between; }

.banner {
    transition: opacity .5s ease; }
.banner a {
    display: inline-block;
    width: 100%;
    height: auto; }
.banner img {
    display: inline-block;
    width: 100%;
    height: auto; }

.banners-column,
.banner--small,
.banner--middle {
    box-sizing: border-box; }

.banner--big {
    width: 100%;
    height: 555px; }

.banner--middle {
    width: 100%;
    height: 283px; }
.banner--middle a {
    height: 100%;
    width: auto; }
.banner--middle img {
    height: 100%;
    width: 100%; }

.banner--small {
    width: 49.87%;
    height: 270px; }

.banners:hover .banner {
    opacity: 0.5; }

.banners .banner:hover {
    opacity: 1; }
