<section class="section brands center">
    <h2 class="section-title">Featured Brand</h2>
    <p class="section-description">Lorem ipsum dolor sit amet tellus</p>
    <div class="brands-list">
        <a class="brand" href="#">
            <img src="assets/img/brands/brand_1.png" alt="brand" class="brand--img">
        </a>
        <a class="brand" href="#">
            <img src="assets/img/brands/brand_2.png" alt="brand" class="brand--img">
        </a>
        <a class="brand" href="#">
            <img src="assets/img/brands/brand_3.png" alt="brand" class="brand--img">
        </a>
        <a class="brand" href="#">
            <img src="assets/img/brands/brand_4.png" alt="brand" class="brand--img">
        </a>
        <a class="brand" href="#">
            <img src="assets/img/brands/brand_5.png" alt="brand" class="brand--img">
        </a>
    </div>
</section>