<div class="shop-list">
    <div *ngFor="let item of list" class="shop-item">
        <div class="shop-item-photo">
            <a routerLink="/products/{{item._id}}">
                <img src="{{basePath}}assets/img/products/medium/{{item.images[0]}}" alt="">
            </a>
            <div class="shop-item-price">${{item.price}}</div>
            <div class="shop-item-like">
                <span>
                    <i class="far fa-heart fa-2x"></i>
                </span>
                <span class="active">
                    <i class="fas fa-heart fa-2x"></i>
                </span>
            </div>
            <button type="button"
                    (click)="addToCart(item, 1)"
                    class="shop-item-btnbuy">Shop Now</button>
        </div>
        <h3 class="shop-item-name">
            <a routerLink="/products/{{item._id}}">
                {{item.name}}
            </a>
        </h3>
        <div class="shop-item-footer">
            <div class="shop-item-category">{{item.category}}</div>
            <div class="shop-item-rating"></div>
        </div>
    </div>
</div>
