<div class="shop-list">
    <div *ngFor="let item of goods" class="shop-item">
        <div class="shop-item-photo">
            <a routerLink="/goods/{{item.id}}">
                <img [attr.src]="item.img" alt="">
            </a>            
            <div class="shop-item-price">${{item.price}}</div>
            <div class="shop-item-like">
                <span>
                    <i class="far fa-heart fa-2x"></i>
                </span>
                <span class="active">
                    <i class="fas fa-heart fa-2x"></i>
                </span>
            </div>
            <a href="#"
                (click)="addToCart($event, item._id)"
                class="shop-item-btnbuy">Shop Now</a>
        </div>
        <h3 class="shop-item-name">
            <a routerLink="/goods/{{item.id}}">
                {{item.name}}
            </a>            
        </h3>
        <div class="shop-item-footer">						
            <div class="shop-item-category">{{item.category}}</div>
            <div class="shop-item-rating"></div>
        </div>
    </div>
</div>