<div class="banners center">
  <div class="banners-column">
    <div class="banner banner--big">				
      <a href="#">
        <img src="assets/img/banners/banner_big.jpg" alt="banner">
      </a>
    </div>
  </div>
  <div class="banners-column">
    <div class="banner banner--middle">
        <a href="#">
        <img src="assets/img/banners/banner_middle.jpg" alt="banner">
      </a>
    </div>
    <div class="banner banner--small">
      <a href="#">
        <img src="assets/img/banners/banner_small_1.jpg" alt="banner">
      </a>
    </div>
    <div class="banner banner--small">
      <a href="#">
        <img src="assets/img/banners/banner_small_2.jpg" alt="banner">
      </a>
    </div>
  </div>						
</div>