<section class="checkout section center">
    <h2 class="section-title">Checkout</h2>
    <div class="checkout-content">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam nisi quo explicabo consectetur magnam odio reprehenderit debitis veritatis quas. Voluptatum voluptas ipsam earum velit, perspiciatis hic fuga repudiandae labore!</p>
        </div>
        <div>
            <app-shoppingcart-table></app-shoppingcart-table>
        </div>
        <form>
            <div class="checkout-form">
                <div class="checkout-row">
                    <div class="checkout-item">
                        <div>
                            <label for="firstName">First Name: <span>*</span></label>
                        </div>
                        <input id="firstName" type="text" name="first_name">
                    </div>
                </div>
                <div class="checkout-row">
                    <div class="checkout-item">
                        <div>
                            <label for="lastName">Last Name: <span>*</span></label>
                        </div>
                        <input id="lastName" type="text" name="last_name">
                    </div>
                </div>
                <div class="checkout-row">
                    <div class="checkout-item">
                        <div>
                            <label for="email">Email: <span>*</span></label>
                        </div>
                        <input id="email" type="text" name="email">
                    </div>
                </div>
                <button class="btn btn--send">Confirm Order</button>
            </div>
        </form>
    </div>
</section>
