<div class="category">
    <div class="center">    
        <div class="category-description">
            <div class="category-column">
                <div class="breadcrumbs">
                    <a routerLink="/">Home</a>
                    <span>/</span>
                    <span>{{ data.currentCategory }}</span>
                </div>
                <div class="category-name">{{ data.currentCategory }}</div>
                <div class="category-info">Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>Culpa quae enim dolore itaque maiores!</div>
            </div>
            <div class="category-column category-img">
                <img src="assets/img/categories/woman.jpg" alt="categories photo">
            </div>
        </div>
    </div>
</div>
<div class="section shop catalog center"> 
    <div class="catalog-controls">
        <div class="catalog-search">
            <p class="section-name">Search Option</p>
            <form class="form-search" name="catalog-search">                
                <input class="form-search-input" type="text">
                <button class="btn-catalog-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
        </div>
        <catalog-filter></catalog-filter>
    </div>
    <div class="catalog-results">         
        <div class="catalog-info">
            <div class="column">
                <div class="catalog-title">102 Items Found</div>
            </div>
            <div class="column column-right">
                <div>
                    <span>Sort by:</span>
                    <select class="select-sort">
                        <option value="size">Size</option>
                        <option value="name">Name</option>
                    </select>
                </div>
                <div class="pagination">
                    <ul class="pagination-list">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                    </ul>
                </div>
            </div>                        
        </div>
        <app-shop-list [list]="products"></app-shop-list>
    </div>    
</div>