:host{
    display: block;
    width: 100%;
}
.carousel,
.carousel-current,
.carousel-images{
    width: 100%;
}
.carousel-current{
    position: relative;
    padding: 0;
    margin: 0;
}
.carousel-current img{
    width: 100%;
    height: auto;
}
.carousel-images{
    position: relative;
    top: 0;
    left: 0;
    height: 150px;
    overflow: hidden;
}
.carousel-list{
    width: 10000px;
    height: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.carousel-item{
    display: inline-block;
    width: 150px; 
    height: 100%;
    margin-right: 5px;
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: auto;
}