html, body {
  margin: 0;
  padding: 0;
  height: 100%;}

body {
  /*font-family: 'Merriweather', serif;*/
  font-family: 'Lato', sans-serif;}

body.is-overlay{
  position: fixed;
  overflow: hidden;
}

input[type="text"],
input[type="email"] {
  padding: 15px 20px;
  border: 1px solid #000; }

input:focus {
  outline: none; }

.clearfix:after{
  content: ' ';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.content {
  flex: 1 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff; }

.footer-wr{
  flex-shrink: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 31px 0;
  font-size: 14px; }

.center {
  max-width: 1140px;
  margin: 0 auto; }

.section-title,
.section-description {
  text-align: center; }

.section-description {
  margin: 0 0 22px;
  font-size: 16px; }

.section-title {
  margin: 0 0 2px;
  font: 33px Merriweather serif; }

.subscription {
  display: flex;
  flex-wrap: nowrap;
  padding: 35px 0;
  margin-bottom: 35px;
  border-bottom: 1px solid #000;
  align-items: center; }

.subscription-form {
  display: flex;
  width: 49%;
  justify-content: space-between; }

input.subscription-email {
  display: inline-block;
  height: 15px;
  width: 312px; }

.subscription-title {
  width: 51%;
  margin: 0;
  font: italic 18px Merriweather serif; }

.subscription-submit {
  width: 190px;
  height: 45px;
  text-align: center;
  background: #ffab00;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: .2s ease background; }
  .subscription-submit:hover {
    background: #333; }

.btn--more {
  display: inline-block;
  width: 188px;
  height: 46px;
  line-height: 46px;
  color: #333;
  text-align: center;
  border: 2px solid #adadad;
  text-decoration: none;
  transition: .2s ease background; }
  .btn--more:hover {
    color: #ffac03;
    border: 2px solid #ffac03;
    transition: .2s ease border; }

.section-description {
  margin: 0 0 47px; }

/*---------------------------------------*/
.useraccount input[type="text"],
.useraccount input[type="password"]{
    width: 200px;
    height: 15px;
    padding: 5px;
}

.useraccount input[type="password"]{
    border: 1px solid #000;
}

.useraccount label{
    display: inline-block;
    width: 90px;
}

.useraccount .section-title{
    margin-bottom: 40px;
}

.useraccount-row{
    margin-bottom: 20px;
}

.useraccount .btn-submit{
    cursor: pointer;
}

.useraccount-messages{
    height: 50px;
    width: 420px;
    margin-bottom: 20px;
}

.useraccount .errors{
    color: red;
}

.useraccount .btn-submit {
  display: inline-block;
  width: 100px;
  height: 30px;
  background: #ffac03;
  color: #fff;
  text-align: center;
  line-height: 30px;
  transition: .2s ease background;
  border: none }
  .useraccount .btn-submit:hover {
    background: #f44336; }
  .useraccount button:focus{
    outline: none; }

.socialmenu {
  list-style: none;
  margin: 3px 0 0;
  padding: 0; }

.socialmenu li {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin: 0 -2px 0 0; }

.socialmenu li:last-child {
  margin: 0; }

.socialmenu a {
  color: #333;
  transition: .2s ease color; }

.socialmenu a:hover {
  color: #ffab00; }

