<div class="catalog-filter">
    <p class="section-name">Filter By:</p>
    <form class="form-filter">
        <div class="param"
             *ngFor="let item of params; let item_index=index"
             [ngClass]="{'active': shownSections[item_index]}">
            <div class="param-caption"                         
                (click)="toggleSection(item_index)">
                <span>{{ item.name }}</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div *ngIf="item.type=='checkbox'" class="param-list">
                <label *ngFor="let value of item.values; let value_index=index" class="param-item">
                    <input class="checkbox"
                            type="checkbox"
                            [attr.value]="value"
                            [attr.name]="'id_'+item.id+'_'+value_index"
                            (click)="getData($event)">
                    <span class="checkbox-sign"></span>
                    {{ value }}
                </label>
            </div>
            <div *ngIf="item.type=='radio'" class="param-list">
                <label *ngFor="let value of item.values;" class="param-item">
                    <input class="radio"
                            type="radio"
                            [attr.value]="value"
                            [attr.name]="'id_'+item.id"
                            (click)="getData($event)">
                    <span class="radio-sign"></span>
                    {{ value }}
                </label>
            </div>
        </div>              
    </form>
</div> 