<div class="catalog-filter">
    <p class="section-name">Filter By:</p>
    <form class="form-filter">
        <div class="param" [ngClass]="{'active': filterCategories.categories}">
            <div class="param-caption"                         
                (click)="toggleParam('categories')">
                <span>Categories</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="param-list">
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="top">
                    <span class="checkbox-sign"></span>
                    Top
                </label>
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="bottom">
                    <span class="checkbox-sign"></span>
                    Bottom
                </label>
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="dress">
                    <span class="checkbox-sign"></span>
                    Accessories
                </label>
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="footwear">
                    <span class="checkbox-sign"></span>
                    Footwear
                </label>
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="other">
                    <span class="checkbox-sign"></span>
                    Other
                </label>
            </div>
        </div>
        <div class="param" [ngClass]="{'active': filterCategories.price}">
            <div class="param-caption"
                (click)="toggleParam('price')">
                <span>Price</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>                   
            <div class="param-list">
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="top">
                    <span class="checkbox-sign"></span>
                    Top
                </label>
            </div>
        </div>                                
        <div class="param" [ngClass]="{'active': filterCategories.size}">
            <div class="param-caption"                         
                (click)="toggleParam('size')">
                <span>Size</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="param-list">
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="top">
                    <span class="checkbox-sign"></span>
                    Top
                </label>
            </div>
        </div>                                
        <div class="param" [ngClass]="{'active': filterCategories.brand}">
            <div class="param-caption"                         
                (click)="toggleParam('brand')">
                <span>Brand</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="param-list">
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="top">
                    <span class="checkbox-sign"></span>
                    Top
                </label>
            </div>
        </div>                                
        <div class="param" [ngClass]="{'active': filterCategories.color}">
            <div class="param-caption"                         
                (click)="toggleParam('color')">
                <span>Color</span>
                <span class="param-icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
            </div>
            <div class="param-list">
                <label class="param-item">
                    <input class="checkbox" type="checkbox" name="top">
                    <span class="checkbox-sign"></span>
                    Top
                </label>
            </div>
        </div>                                
    </form>
</div> 