<div *ngIf="(shoppingcart$ | async) as shoppingcart">
    <table *ngIf="shoppingcart.length > 0" class="shoppingcart-table">
        <tr>
            <th class="name">Name</th>
            <th class="price">Price</th>
            <th class="quantity">Quantity</th>
            <th class="total">Total</th>
            <th></th>
        </tr>
        <tr *ngFor="let cartItem of shoppingcart">
            <td>{{ cartItem.product.name }}</td>
            <td>$ {{ cartItem.product.price }}</td>
            <td>{{ cartItem.product.qty }}</td>
            <td>$ {{ cartItem.product.total }}</td>
            <td>
                <span class="btn-counter btn-increment"
                      (click)="updateProductAmounts(cartItem, 'increase')">+</span>
                <span class="btn-counter btn-decrement"
                      (click)="updateProductAmounts(cartItem, 'decrease')">-</span>
            </td>
        </tr>
        <tr *ngIf="(orderTotal$ | async) as orderTotal">
            <td>Total:</td>
            <td></td>
            <td></td>
            <td>$ {{ orderTotal.total }}</td>
            <td></td>
        </tr>
    </table>
</div>
